html {
	margin: 0;
	background-color: #5584ac;
	font-family: Georgia, monospace;
}

#title {
	width: auto;
	height: 460px;
	padding: 20px;
	background-color:  #f6f2d4  ;
	vertical-align: top;
}
.line {
	height: 5px;
	width: 100%;
	background-color: black;
}
#canvas, #title{
	display: inline-block;
	border: 8px solid black;
	margin: 15px;	
}
.refresh {
	width: 250px;
	height: 40px;
	font-size: 20px;
}